html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

textarea {
    overflow: auto
}

* {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #eff900;
    color: black;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0
}

input.w-button {
    -webkit-appearance: button
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

a:focus {
    outline: 0
}

.w-form {
    margin: 0 0 15px
}

.w-form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd
}

.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold
}

.w-input,
.w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc
}

.w-input:-moz-placeholder,
.w-select:-moz-placeholder {
    color: #999
}

.w-input::-moz-placeholder,
.w-select::-moz-placeholder {
    color: #999;
    opacity: 1
}

.w-input:-ms-input-placeholder,
.w-select:-ms-input-placeholder {
    color: #999
}

.w-input::-webkit-input-placeholder,
.w-select::-webkit-input-placeholder {
    color: #999
}

.w-input:focus,
.w-select:focus {
    border-color: #3898EC;
    outline: 0
}

textarea.w-input,
textarea.w-select {
    height: auto
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.w-container:before,
.w-container:after {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

@media screen and (max-width:991px) {
    .w-container {
        max-width: 728px
    }
}

@media screen and (max-width:479px) {
    .w-container {
        max-width: none
    }
}

/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */

.main-wrapper {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    float: none;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column;
    background-color: #fafaf8;
}

.bgcolor {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    transition: background-color .5s;
    z-index: 99;
}

.top-nav {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    height: 80px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    background-color: transparent;
    z-index: 100;
    background: #131321;
}

.nav-container {
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
}

.brand-logo {
    -ms-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    padding: 20px 30px 10px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000, 0 1px 2px #000;
    cursor: context-menu;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
            align-items: stretch;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    padding: 10px 30px 10px;
}

.navburger {
    -ms-flex-preferred-size: 140px;
    -webkit-flex-basis: 140px;
            flex-basis: 140px;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
}

.navburger p {
    padding: 20px 0px 10px 0px;
    -ms-flex-preferred-size: 100px;
    -webkit-flex-basis: 100px;
            flex-basis: 100px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000, 0 1px 2px #000;
    transition: all 0.3s ease-out;
    border-bottom: solid transparent 5px;
    cursor: context-menu;
}

.hamburger {
    -ms-flex-preferred-size: 50px;
    -webkit-flex-basis: 50px;
            flex-basis: 50px;
    padding: 50px 0px 10px 0px;
    background-image: url("../img/Services/Icons/menu1.png");
    background-position: 50% 50%;
    background-size: 32px;
    background-repeat: no-repeat;
    height: 32px;
}

.menu-links {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #131321;
    overflow-x: hidden;
    transition: 0.05s;
    padding-top: 60px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
}

.menu-links a {
    padding: 20px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: inline-block;
    transition: 0.05s
}

.menu-links .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    padding: 25px;
    margin-top: 16px;
    margin-right: 4px;
    background-image: url("../img/Services/Icons/error.png");
    background-position: 50% 50%;
    background-size: 32px;
    background-repeat: no-repeat;
}

.nav-link {
    overflow: visible;
    padding: 20px 0px 10px 0px;
    margin-left: 10px;
    margin-right: 10px;
    -ms-flex-preferred-size: 50px;
    -webkit-flex-basis: 50px;
            flex-basis: 50px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000, 0 1px 2px #000;
    transition: all .3s ease-out;
    border-bottom: solid transparent 5px;
}

.addborder {
    position: relative;
    display: inline-block;
}

.addborder:before {
    content: '';
    width: 0;
    height: 2px;
    background: #e9ff00;
    position: absolute;
    left: 20%;
    bottom: 0;
    transition: all 0.3s ease-out;
}

.addborder:hover:before {
    width: 60%;
}

.menu-links .active {
    color: #e9ff00;
}

.active {
    color: #e9ff00;
}

.footer {
    height: 80px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    -webkit-flex-basis: auto;
            flex-basis: auto;
    border-top: 2px solid #fff;
    background-image: linear-gradient(180deg, #131321, #131321);
}

.footer-copyright {
    display: block;
    padding-top: 18px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.body {
    background-color: #fafaf8;
}

.blog-section-1 {
    position: relative;
    z-index: 5;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: #131321;
}

.blog-container-1-1 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    border-top: 1px solid #fff;
}

.blog-wrapper-1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 130px;
    padding-left: 130px;
    border-top: 2px none #fff;
    color: #fff;
    text-align: center;
    height: 160px;
}

.blog-heading-1 {
    margin-top: 0px;
    padding-top: 30px;
    font-family: 'Berkshire Swash', sans-serif;
    text-align: center;
}

#typed {
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.blog-container-1-2 {
    position: relative;
    top: 18px;
    z-index: 5;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
            align-content: stretch;
    background-color: #fafaf8;
}

.hero-card-container {
    position: relative;
    display: block;
    width: 300px;
    height: 380px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, .1);
    font-family: 'Droid Serif', serif;
}

.hero-card-container:hover {
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, .1), 0 0 6px 3px rgba(0, 0, 0, .1);
}

.hero-card-container:hover .hero-published-date {
    background-color: #f36;
}

.hero-card-heading {
    position: absolute;
    left: 0px;
    top: 55px;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Berkshire Swash', sans-serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
}

.hero-card-pgraph {
    position: static;
    left: 0px;
    top: -144px;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    color: black;
    line-height: 22px;
    text-align: left;
}

.hero-card-image {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    padding-top: 0px;
    border-radius: 5px 5px 0px 0px;
}

.most-read {
    position: absolute;
    top: 20px;
    z-index: 1;
    display: inline-block;
    width: 40%;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f36;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.hero-published-date {
    display: block;
    width: 100%;
    margin: 0px auto 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #131321;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.card-container {
    position: relative;
    display: block;
    width: 300px;
    height: 380px;
    margin: 0px auto 50px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, .1);
}

.card-container:hover {
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, .1), 0 0 6px 3px rgba(0, 0, 0, .1);
}

.card-container:hover .card-published-date-1 {
    background-color: #f36;
}

.card-container:hover .card-published-date-2 {
    background-color: #f36;
}

.card-container:hover .card-published-date-3 {
    background-color: #f36;
}

.latest-published {
    position: absolute;
    top: 20px;
    z-index: 1;
    display: inline-block;
    width: 30%;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f36;
    color: white;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.card-image-1 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 5px 5px 0px 0px;
}

.card-heading-1 {
    position: absolute;
    top: 136px;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Berkshire Swash', sans-serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
}

.card-pgraph {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    color: black;
    line-height: 22px;
    text-align: left;
}

.card-published-date-1 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #131321;
    font-family: 'Droid Serif', serif;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.card-image-2 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 5px 5px 0px 0px;
}

.card-heading-2 {
    position: absolute;
    top: 36px;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Berkshire Swash', sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
}

.card-published-date-2 {
    position: static;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #131321;
    font-family: 'Droid Serif', serif;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.card-pgraph-2 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    color: black;
    line-height: 22px;
}

.ad-container-1 {
    display: block;
    width: 300px;
    height: 340px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    background-image: url("../img/Blog/ad-1.jpg"), linear-gradient(180deg, #fff, #fff);
    background-position: -86px -138px, 0px 0px;
    background-size: auto, auto;
    background-repeat: no-repeat, repeat;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, .1);
}

.ad-container-1:hover {
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, .1), 0 0 6px 3px rgba(0, 0, 0, .1);
}

.ad-container-2 {
    display: block;
    width: 300px;
    height: 360px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    background-image: url("../img/Blog/ad-2.jpg"), linear-gradient(180deg, #fff, #fff);
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, .1);
}

.ad-container-2:hover {
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, .1), 0 0 6px 3px rgba(0, 0, 0, .1);
}

.ad-pgraph-1 {
    position: relative;
    left: 0px;
    top: -41px;
    display: block;
    width: 100%;
    margin: 15px auto 30px;
    padding: 10px;
    border-radius: 0px;
    background-color: rgba(19, 19, 33, .5);
    font-family: 'Droid Serif', serif;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}

.card-social-container {
    position: relative;
    top: -66px;
    display: block;
    width: 100%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 10px 10px 8px;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: left;
}

.card-social-link {
    position: static;
    top: 35px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 8px 15px;
    border: 3px none #000;
    border-radius: 5px;
    background-color: #131321;
    font-family: 'Droid Serif', serif;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.card-image-3 {
    width: 100%;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-heading-3 {
    position: absolute;
    top: 68px;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Berkshire Swash', sans-serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
}

.card-published-date-3 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #131321;
    font-family: 'Droid Serif', serif;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.card-pgraph-3 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    color: black;
}

.ad-heading-1 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 21px 34px 40px;
    font-family: 'Berkshire Swash', sans-serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
}

.ad-heading-2 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Berkshire Swash', sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
}

.ad-pgraph-2 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 8px 30px;
    background-color: rgba(19, 19, 33, .5);
    font-family: 'Droid Serif', serif;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}

.e-newsletter-subscribe {
    position: static;
    display: block;
    width: 90%;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    text-align: center;
}

.e-newsletter-form {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
}

.e-news-subscribe-button {
    width: 90%;
    height: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    background-color: #3898EC;
    color: white;
}

.e-news-subscribe-button:hover {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #ff0;
    color: #131321;
    font-size: 16px;
    font-weight: 100;
}

.e-news-wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
}

.blog-section-2 {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-flex: 0 auto;
    -webkit-flex: 0 auto;
            flex: 0 auto;
    background-color: #fafaf8;
    text-align: left;
    margin-bottom: 40px;
}

.blog-wrapper-2-1 {
    display: block;
    height: 25%;
    margin-bottom: 20px;
}

.blog-heading-2-1 {
    display: block;
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 38px;
    text-align: center;
}

.blog-pgraph-2-1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}

.blog-wrapper-2-2 {
    display: block;
    width: 100%;
    height: 460px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 0px;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
    border-radius: 5px;
    background-color: #f36;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
}

.blog-container-2 {
    display: block;
    width: 1040px;
    margin-right: auto;
    margin-left: auto;
}

.blog-contact-label {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    font-size: 18px;
}

.blog-contact-mlabel {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
    font-size: 19px;
}

.blog-contact-textarea {
    min-height: 100px;
    margin-bottom: 18px;
    font-size: 19px;
}

.blog-contact-submit {
    border-radius: 5px;
    color: #073b46;
    font-weight: 700;
    background-color: white;
}

.blog-contact-submit:hover {
    background-color: #eff900;
}

.blog-wrapper-1-2 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
}

@media (max-width: 991px) {
    .menu-links .closebtn {
        margin-top: 16px;
        margin-right: 4px;
    }
    .footer-copyright {
        font-size: 22px;
    }
    .blog-container-1-1 {
        top: -21px;
        margin-top: 20px;
    }
    .blog-wrapper-1 {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
        height: 150px;
    }
    .blog-heading-1 {
        display: block;
        width: 100%;
    }
    #typed {
        display: block;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }
    .hero-card-container {
        display: block;
        margin-right: 10px;
        margin-left: 0px;
        -ms-flex: 0 0 300px;
        -webkit-flex: 0 0 300px;
                flex: 0 0 300px;
    }
    .card-container {
        margin-right: 10px;
        margin-bottom: 40px;
        margin-left: 10px;
        -ms-flex-preferred-size: 300px;
        -webkit-flex-basis: 300px;
                flex-basis: 300px;
    }
    .card-heading-2 {
        top: 29px;
        font-size: 34px;
        line-height: 40px;
    }
    .ad-container-1 {
        margin-right: 10px;
        margin-left: 0px;
    }
    .ad-container-2 {
        margin-right: 0px;
        margin-left: 10px;
    }
    .ad-heading-1 {
        line-height: 40px;
    }
    .blog-section-2 {
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 50px;
    }
    .blog-pgraph-2-1 {
        line-height: 26px;
    }
    .blog-container-2 {
        display: block;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
    .blog-contact-label {
        width: 90%;
        padding-left: 0px;
    }
    .blog-contact-mlabel {
        width: 90%;
    }
    .blog-contact-textarea {
        display: block;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .blog-contact-submit {
        display: block;
        margin-top: 0px;
        margin-left: 28px;
        text-align: center;
    }
    .blog-wrapper-1-2 {
        width: 700px;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
                align-items: flex-start;
        -ms-flex-line-pack: start;
        -webkit-align-content: flex-start;
                align-content: flex-start;
    }
    .footer {
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .footer-copyright {
        font-size: 20px;
    }
    .blog-wrapper-1 {
        padding-top: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .blog-heading-1 {
        padding-top: 40px;
    }
    #typed {
        padding-right: 30px;
        padding-left: 30px;
        font-size: 17px;
        line-height: 24px;
    }
    .blog-container-1-2 {
        margin-bottom: 10px;
        padding-top: 40px;
    }
    .hero-card-container {
        width: 450px;
        height: 500px;
        -ms-flex-preferred-size: auto;
        -webkit-flex-basis: auto;
                flex-basis: auto;
    }
    .hero-card-heading {
        top: 84px;
        font-size: 40px;
        line-height: 47px;
    }
    .hero-card-pgraph {
        padding-right: 35px;
        padding-left: 35px;
        font-size: 20px;
        line-height: 26px;
    }
    .hero-card-image {
        height: 60%;
    }
    .most-read {
        width: 150px;
        padding: 12px;
        font-size: 22px;
    }
    .hero-published-date {
        height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .card-container {
        width: 450px;
        height: 500px;
        -ms-flex-preferred-size: auto;
        -webkit-flex-basis: auto;
                flex-basis: auto;
    }
    .latest-published {
        width: 150px;
        padding: 12px;
        font-size: 22px;
    }
    .card-image-1 {
        height: 60%;
    }
    .card-heading-1 {
        top: 208px;
        font-size: 55px;
        line-height: 55px;
    }
    .card-pgraph {
        width: auto;
        padding-right: 17px;
        padding-left: 17px;
        font-size: 20px;
        line-height: 24px;
    }
    .card-published-date-1 {
        height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
    }
    .card-image-2 {
        height: 60%;
    }
    .card-heading-2 {
        top: 70px;
        font-size: 55px;
        line-height: 55px;
    }
    .card-published-date-2 {
        position: relative;
        height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
    }
    .card-pgraph-2 {
        font-size: 20px;
    }
    .ad-container-1 {
        display: block;
        width: 450px;
        height: 500px;
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;
    }
    .ad-container-2 {
        width: 450px;
        height: 500px;
    }
    .ad-pgraph-1 {
        position: relative;
        top: -28px;
        margin-bottom: -10px;
        font-size: 20px;
        line-height: 26px;
    }
    .card-social-container {
        position: static;
    }
    .card-social-link {
        padding-top: 10px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 30px;
    }
    .card-image-3 {
        height: 60%;
    }
    .card-heading-3 {
        top: 112px;
        font-size: 55px;
        line-height: 55px;
    }
    .card-published-date-3 {
        height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
    }
    .card-pgraph-3 {
        font-size: 20px;
    }
    .ad-heading-1 {
        font-size: 50px;
        line-height: 55px;
    }
    .ad-heading-2 {
        margin-top: 70px;
        font-size: 55px;
        line-height: 55px;
    }
    .ad-pgraph-2 {
        margin-top: 29px;
        margin-bottom: 9px;
        font-size: 20px;
        line-height: 28px;
    }
    .e-newsletter-subscribe {
        height: 45px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .e-news-subscribe-button {
        height: 45px;
        font-size: 16px;
    }
    .blog-pgraph-2-1 {
        line-height: 26px;
    }
    .blog-container-2 {
        width: 480px;
    }
    .blog-contact-submit {
        display: block;
        margin-top: 17px;
        margin-right: auto;
        margin-left: auto;
    }
    .blog-wrapper-1-2 {
        width: 480px;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
                justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
                align-items: center;
        -ms-flex-line-pack: start;
        -webkit-align-content: flex-start;
                align-content: flex-start;
    }
}

@media (max-width: 479px) {
    .top-nav {
        padding-top: 0px;
        height: 60px;
    }
    .brand-logo {
        font-size: 18px;
        padding-top: 10px;
        padding-left: 15px;
    }
    .navbar {
        padding: 0px 15px;
        width: 120px;
    }
    .navburger {
        -ms-flex-preferred-size: 100px;
        -webkit-flex-basis: 100px;
                flex-basis: 100px;
    }
    .navburger p {
        font-size: 18px;
    }
    .hamburger {
        background-size: 24px;
        height: 24px;
    }
    .menu-links .closebtn {
        margin-top: 5px;
        margin-right: -20px;
    }
    .nav-link {
        display: block;
        width: 240px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 25px;
    }
    .blog-section-2 {
        margin-bottom: 20px;
    }
    .footer {
        height: 60px;
        padding-top: 5px;
    }
    .footer-copyright {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        line-height: 20px;
    }
    .blog-heading-1 {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 30px;
        line-height: 36px;
    }
    #typed {
        display: block;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 22px;
        height: 130px;
    }
    .blog-container-1-1 {
        height: 200px;
    }
    .blog-container-1-2 {
        padding-top: 50px;
    }
    .hero-card-container {
        display: block;
        width: 300px;
        height: 420px;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: auto;
    }
    .hero-card-heading {
        top: 69px;
        font-size: 30px;
        line-height: 36px;
    }
    .hero-card-pgraph {
        top: -157px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
    }
    .hero-card-image {
        height: auto;
    }
    .most-read {
        width: 130px;
        font-size: 18px;
    }
    .hero-published-date {
        top: -161px;
        height: 45px;
        padding-top: 13px;
        padding-bottom: 0px;
        font-size: 18px;
    }
    .card-container {
        width: 300px;
        height: 430px;
        margin-bottom: 30px;
    }
    .latest-published {
        width: 100px;
        padding: 10px;
        font-size: 18px;
    }
    .card-image-1 {
        height: auto;
    }
    .card-heading-1 {
        top: 148px;
        font-size: 30px;
    }
    .card-pgraph {
        left: 9px;
        top: -90px;
        display: block;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
    }
    .card-image-2 {
        height: 50%;
    }
    .card-heading-2 {
        top: 40px;
        font-size: 38px;
        line-height: 44px;
    }
    .ad-container-1 {
        display: block;
        width: 300px;
        height: 360px;
        margin: 0px auto 30px;
    }
    .ad-container-2 {
        display: block;
        width: 300px;
        height: 420px;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        background-image: url("../img/Blog/ad-2.jpg");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .ad-pgraph-1 {
        margin-bottom: -17px;
    }
    .card-social-link {
        padding: 10px 15px;
        font-size: 18px;
    }
    .card-image-3 {
        height: 50%;
    }
    .card-heading-3 {
        top: 77px;
        font-size: 38px;
    }
    .ad-heading-1 {
        padding-top: 10px;
        font-size: 30px;
        line-height: 36px;
    }
    .ad-heading-2 {
        margin-top: 30px;
        font-size: 36px;
        line-height: 42px;
    }
    .ad-pgraph-2 {
        margin-top: 37px;
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 24px;
    }
    .e-newsletter-subscribe {
        display: block;
        width: 80%;
        height: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        padding: 10px;
        -ms-flex-negative: 0;
        -webkit-flex-shrink: 0;
                flex-shrink: 0;
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
        font-size: 15px;
        text-align: center;
    }
    .e-newsletter-form {
        display: block;
        margin-top: 10px;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    .e-news-subscribe-button {
        display: block;
        width: 80%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        -ms-flex-negative: 0;
        -webkit-flex-shrink: 0;
                flex-shrink: 0;
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
        font-size: 15px;
    }
    .e-news-wrapper {
        display: block;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -ms-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap;
        -ms-flex-align: center;
        -webkit-align-items: center;
                align-items: center;
        -ms-flex-line-pack: stretch;
        -webkit-align-content: stretch;
                align-content: stretch;
    }
    .blog-heading-2-1 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: 28px;
        line-height: 36px;
    }
    .blog-pgraph-2-1 {
        line-height: 24px;
    }
    .blog-wrapper-2-2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .blog-container-2 {
        width: 300px;
    }
    .blog-contact-label {
        font-size: 16px;
    }
    .blog-contact-mlabel {
        font-size: 16px;
    }
    .blog-contact-textarea {
        font-size: 16px;
    }
    .blog-contact-submit {
        width: 90%;
    }
    .blog-wrapper-1-2 {
        width: 300px;
    }
}

 @media (max-width: 320px) {
     .blog-wrapper-2-1 {
         margin-bottom: 0px;
     }
     .blog-pgraph-2-1 {
         margin-bottom: 30px;
     }
}

/* IPAD Pro version is yet to finalized */