    html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button,
select {
    text-transform: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

textarea {
    overflow: auto
}

* {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #369;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0
}

input.w-button {
    -webkit-appearance: button
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

a:focus {
    outline: 0
}

.w-form {
    margin: 0 0 15px
}

.w-form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd
}

.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede
}

.w-input,
.w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
}

.w-input:-moz-placeholder,
.w-select:-moz-placeholder {
    color: #999
}

.w-input::-moz-placeholder,
.w-select::-moz-placeholder {
    color: #999;
    opacity: 1
}

.w-input:-ms-input-placeholder,
.w-select:-ms-input-placeholder {
    color: #999
}

.w-input::-webkit-input-placeholder,
.w-select::-webkit-input-placeholder {
    color: #999
}

.w-input:focus,
.w-select:focus {
    border: 3px solid #3898EC;
    outline: 0
}

textarea.w-input,
textarea.w-select {
    height: auto
}

.w-select {
    background-image: -webkit-linear-gradient(white 0, #f3f3f3 100%);
    background-image: linear-gradient(white 0, #f3f3f3 100%)
}


/* ==========================================================================
   Start of custom CSS
   ========================================================================== */

.main-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    float: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bgcolor {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    z-index: 99;
}

.top-nav {
    position: fixed;
    left: 500px;
    top: 0px;
    right: 0px;
    display: block;
    height: 80px;
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-bottom-color: white;
    background-color: transparent;
    z-index: 100;
}

.bgnav {
    width: 100%;
    display: block;
    height: 100%;
    background: #131321;
    box-shadow: 0 8px 6px -6px grey;
}

.nav-container {
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.brand-logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px 30px 10px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000, 0 1px 2px #000;
    cursor: context-menu;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 10px 30px 10px;
}

.navburger {
    -ms-flex-preferred-size: 140px;
    flex-basis: 140px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.navburger p {
    padding: 20px 0px 10px 0px;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000, 0 1px 2px #000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-bottom: solid transparent 5px;
    cursor: context-menu;
}

.hamburger {
    -ms-flex-preferred-size: 50px;
    flex-basis: 50px;
    padding: 50px 0px 10px 0px;
    background-image: url("../img/Services/Icons/menu1.png");
    background-position: 50% 50%;
    background-size: 32px;
    background-repeat: no-repeat;
    height: 32px;
}

.menu-links {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #131321;
    overflow-x: hidden;
    -webkit-transition: 0.05s;
    transition: 0.05s;
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
}

.menu-links a {
    padding: 20px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: inline-block;
    -webkit-transition: 0.05s;
    transition: 0.05s
}

.menu-links .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    padding: 25px;
    margin-top: 16px;
    margin-right: 4px;
    background-image: url("../img/Services/Icons/error.png");
    background-position: 50% 50%;
    background-size: 32px;
    background-repeat: no-repeat;
}

.nav-link {
    overflow: visible;
    padding: 20px 0px 10px 0px;
    margin-left: 10px;
    margin-right: 10px;
    -ms-flex-preferred-size: 50px;
    flex-basis: 50px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000, 0 1px 2px #000;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border-bottom: solid transparent 5px;
}

.addborder {
    position: relative;
    display: inline-block;
}

.addborder:before {
    content: '';
    width: 0;
    height: 2px;
    background: #e9ff00;
    position: absolute;
    left: 20%;
    bottom: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.addborder:hover:before {
    width: 60%;
}

.menu-links .active {
    color: #e9ff00;
}

.active {
    color: #e9ff00;
}

.showtab {
    display: none;
    width: 100%;
    height: 100%;
}

.body {
    background-color: #fafaf8;
}

.contact-section {
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.contact-container-1 {
    position: fixed;
    left: 0px;
    top: 0px;
    display: block;
    width: 500px;
    height: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    background-image: url("../img/Contact/Contact1.jpg");
    background-position: 49% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.quoted {
    margin-bottom: 12px;
    font-family: 'Droid Serif', serif;
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
}

.quoted-container {
    display: block;
    width: 300px;
    margin-top: 75%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 12, 15, .62);
}

.quoted-image {
    border-radius: 5px;
}

.contact-container-2 {
    display: block;
    margin-left: 500px;
    padding-top: 15%;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    font-family: 'Droid Serif', serif;
}

.contact-pgraph-1 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: 'Droid Serif', serif;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
}

.contact-pgraph-2 {
    display: block;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    -webkit-transition: display .5s;
    transition: display .5s;
}

.tabs {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.contact-link {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.contact-link:hover {
    border-color: #369;
    background-color: #369; /* or try this rgba(16, 191, 244, .5)*/
    color: #fff;
}

.activecolor {
    background-color: #369;
    color: white;
    border-color: #369;
}

.tabs-section {
    display: none;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.tabs-section.current {
    display: inherit;
}

.project-heading {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    text-align: center;
}

.project-pgraph {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.project-contact-form {
    width: 100%;
    margin-bottom: 0px;
}

.project-input {
    display: block;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
}

.project-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.project-input-2 {
    display: block;
    width: 45%;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    background: white;
}

.project-input-textarea {
    display: block;
    overflow: auto;
    width: 95%;
    min-height: 150px;
    margin: 0px auto 10px;
    padding-left: 17px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 95%;
    flex-basis: 95%;
}

.project-submit {
    display: block;
    margin-left: 2.5%;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

.project-submit:hover {
    border-color: rgba(16, 191, 244, .5);
    background-color: rgba(16, 191, 244, .5);
}

.tabs-section {
    display: none;
    width: 100%;
    height: auto;
    margin-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.message-heading {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Droid Serif', serif;
    font-size: 30px;
    text-align: center;
}

.message-pgraph {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.send-message-form {
    width: 100%;
}

.message-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.message-input-1 {
    display: block;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
}

.message-input-2 {
    display: block;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
}

.message-input-textarea {
    display: block;
    width: 95%;
    min-height: 150px;
    margin-right: auto;
    margin-left: auto;
}

.message-submit {
    margin-left: 2.5%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.message-submit:hover {
    border-color: rgba(16, 191, 244, .5);
    background-color: rgba(16, 191, 244, .5);
}

.footer-copyright {
    padding: 15px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.footer {
    display: none;
    min-height: 8%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    border-top: 2px solid #fff;
    background-image: -webkit-linear-gradient(270deg, #131321, #131321);
    background-image: -webkit-linear-gradient(top, #131321, #131321);
    background-image: linear-gradient(180deg, #131321, #131321);
    margin-top: 50px;
}

.contactcontainer {
    display: absolute;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 991px) {
    .top-nav {
        width: 100%;
        left: 0;
        background-color: transparent;
        border-bottom-style: none;
        border-bottom-width: 0;
        border-bottom-color: transparent;
        box-shadow: 0 0px 0px 0px transparent;
    }
    .bgnav {
        background: transparent;
        box-shadow: none;
    }
    .menu-links .closebtn {
        margin-top: 16px;
        margin-right: 4px;
    }
    .contact-container-1 {
        position: relative;
        width: 100%;
        height: 500px;
        padding-top: 50px;
        background-position: 44% 50%;
    }
    .quoted {
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 5px;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 24px;
        line-height: 28px;
    }
    .quoted-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 550px;
        margin-top: 238px;
        margin-right: 0px;
        margin-left: 0px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 0px;
    }
    .contact-container-2 {
        margin-top: 30px;
        margin-left: 0px;
        padding-top: 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    }
    .contact-pgraph-1 {
        width: 85%;
        margin-top: 50px;
        font-size: 32px;
        line-height: 36px;
    }
    .contact-pgraph-2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 20px;
        padding-left: 20px;
    }
    .contact-link {
        margin-right: 0px;
        margin-left: 15px;
    }
    .project-heading {
        font-family: 'Droid Serif', serif;
        font-size: 26px;
        text-align: center;
    }
    .project-pgraph {
        padding-right: 20px;
        padding-left: 20px;
    }
    .project-input {
        width: 95%;
        padding-left: 16px;
        font-size: 16px;
    }
    .project-input-2 {
        width: 95%;
        font-size: 16px;
    }
    .project-input-textarea {
        padding-left: 16px;
        font-size: 16px;
    }
    .project-submit {
        display: block;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        font-size: 18px;
    }
    .tabs-section {
        display: none;
        margin-right: auto;
        margin-left: auto;
    }
    .message-pgraph {
        padding-right: 10px;
        padding-left: 10px;
    }
    .send-message-form {
        display: block;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .message-form-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .message-input-1 {
        width: 100%;
        padding-left: 16px;
        font-size: 16px;
    }
    .message-input-2 {
        width: 100%;
        font-size: 16px;
    }
    .message-input-textarea {
        width: 100%;
        padding-left: 16px;
        font-size: 16px;
    }
    .message-submit {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
    }
    .footer-copyright {
        position: static;
    }
}

@media (max-width: 767px) {
    .contact-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .contact-container-1 {
        position: static;
        width: 100%;
        height: 400px;
        background-position: 50% 50%;
    }
    .quoted {
        margin-right: 10px;
        margin-bottom: 0px;
        padding-top: 0px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
        font-size: 18px;
        line-height: 24px;
    }
    .quoted-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 430px;
        height: 170px;
        margin-top: 180px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        border-radius: 0px;
    }
    .quoted-image {
        width: 100px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .contact-container-2 {
        position: relative;
        display: block;
        margin-top: 0px;
        margin-left: 0px;
        padding: 25px 20px 0px 20px;
    }
    .contact-pgraph-1 {
        display: block;
        margin-top: 0px;
        color: #131321;
        font-size: 26px;
        text-shadow: none;
    }
    .contact-pgraph-2 {
        color: #131321;
        font-size: 18px;
    }
    .contact-link {
        font-size: 18px;
    }
    .project-heading {
        line-height: 32px;
    }
    .project-contact-form {
        display: block;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .project-input {
        width: 100%;
        background-color: transparent;
        font-size: 16px;
    }
    .project-input-2 {
        width: 100%;
        background-color: transparent;
        font-size: 16px;
    }
    .project-input-textarea {
        padding-left: 16px;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        background-color: transparent;
        font-size: 16px;
    }
    .project-submit {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        font-size: 18px;
    }
    .message-heading {
        font-size: 26px;
        line-height: 32px;
    }
    .message-pgraph {
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .main-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: visible;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .top-nav {
        padding-top: 0px;
        height: 60px;
    }
    .brand-logo {
        font-size: 18px;
        padding-top: 10px;
        padding-left: 15px;
    }
    .navbar {
        padding: 0px 15px;
        width: 120px;
    }
    .navburger {
        -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
    }
    .navburger p {
        font-size: 18px;
    }
    .hamburger {
        background-size: 24px;
        height: 24px;
    }
    .menu-links .closebtn {
        margin-top: 5px;
        margin-right: -20px;
    }
    .nav-link {
        display: block;
        width: 240px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 25px;
    }
    .contact-container-1 {
        height: 300px;
        background-position: 50% 0%;
        margin-top: 0;
    }
    .quoted {
        margin-right: 0px;
        padding: 5px 5px 0 10px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        text-align: left;
    }
    .quoted-container {
        width: 100%;
        height: 90px;
        margin-top: 160px;
        padding: 5px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 0px;
    }
    .quoted-image {
        margin-right: 5px;
        margin-left: 5px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .contact-pgraph-1 {
        position: static;
        display: block;
        margin-bottom: 5px;
        padding-right: 20px;
        padding-left: 20px;
        font-family: 'Droid Serif', serif;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        text-shadow: none;
    }
    .contact-link {
        display: block;
        width: 90%;
        margin: 10px auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .project-heading {
        line-height: 32px;
    }
    .project-pgraph {
        font-size: 18px;
    }
    .project-input {
        font-size: 15px;
    }
    .project-input-2 {
        font-size: 15px;
    }
    .project-input-textarea {
        font-size: 15px;
    }
    .project-submit {
        font-size: 17px;
    }
    .message-heading {
        line-height: 32px;
    }
    .contactcontainer {
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}