html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

* {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

a:focus {
    outline: 0
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.w-container:before,
.w-container:after {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

@media screen and (max-width:991px) {
    .w-container {
        max-width: 728px
    }
}

@media screen and (max-width:479px) {
    .w-container {
        max-width: none
    }
}


/* ==========================================================================
   Start of custom CSS
   ========================================================================== */

.main-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    height: 100vh;
    float: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bgcolor {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    z-index: 99;
}

.top-nav {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    width: 100%;
    height: 80px;
    border-style: none;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
    background-color: transparent;
    z-index: 100;
}

.nav-container {
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.brand-logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px 30px 10px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000, 0 1px 2px #000;
    cursor: context-menu;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 10px 30px 10px;
}

.navburger {
    -ms-flex-preferred-size: 140px;
    flex-basis: 140px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.navburger p {
    padding: 20px 0px 10px 0px;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000, 0 1px 2px #000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-bottom: solid transparent 5px;
    cursor: context-menu;
}

.hamburger {
    -ms-flex-preferred-size: 50px;
    flex-basis: 50px;
    padding: 50px 0px 10px 0px;
    background-image: url("../img/Services/Icons/menu1.png");
    background-position: 50% 50%;
    background-size: 32px;
    background-repeat: no-repeat;
    height: 32px;
}

.menu-links {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #131321;
    overflow-x: hidden;
    -webkit-transition: 0.05s;
    transition: 0.05s;
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
}

.menu-links a {
    padding: 20px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: inline-block;
    -webkit-transition: 0.05s;
    transition: 0.05s
}

.menu-links .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    padding: 25px;
    margin-top: 14px;
    background-image: url("../img/Services/Icons/error.png");
    background-position: 50% 50%;
    background-size: 32px;
    background-repeat: no-repeat;
}

.menu-links .active {
    color: #e9ff00;
}

.nav-link {
    overflow: visible;
    padding: 20px 0px 10px 0px;
    margin-left: 10px;
    margin-right: 10px;
    -ms-flex-preferred-size: 50px;
    flex-basis: 50px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000, 0 1px 2px #000;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border-bottom: solid transparent 5px;
}

.addborder {
    position: relative;
    display: inline-block;
}

.addborder:before {
    content: '';
    width: 0;
    height: 2px;
    background: #e9ff00;
    position: absolute;
    left: 20%;
    bottom: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.addborder:hover:before {
    width: 60%;
}

.home-section {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    background-image: -webkit-radial-gradient(circle farthest-side at 61% 50%, transparent, #0f0f26), url("../img/home/homepage1.jpg");
    background-image: radial-gradient(circle farthest-side at 61% 50%, transparent, #0f0f26), url("../img/home/homepage1.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.home-container {
    position: static;
    display: block;
    height: 100%;
    margin: 0px auto;
    padding: 115px 50px 0px;
}

.home-wrapper-1 {
    position: relative;
    left: 234px;
    top: 25px;
    bottom: 0px;
    display: block;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-left: 110px;
    text-align: left;
}

.home-wrapper-2 {
    position: relative;
    left: 0px;
    top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20%;
    padding: 0px 67px 0px 50px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: 'Droid Serif', serif;
    text-align: center;
    text-decoration: none;
}

#typed {
    position: relative;
    left: 200px;
    top: 50px;
    right: 0px;
    display: block;
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    font-family: 'Droid Serif', serif;
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    text-align: left;
    text-shadow: 1px 1px 4px #131321, 0 1px 1px #131321;
    height: 300px;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-link-1 {
    display: block;
    overflow: hidden;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 0px;
    padding: 15px;
    border: 1px none #fff;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transform: perspective(1053px);
    transform: perspective(1053px);
    color: #ff5c5c;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.home-link-1:hover {
    background-color: rgba(255, 255, 0, .75);
    color: #131321;
}

.home-link-2 {
    display: block;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 20px;
    padding: 15px;
    border: 1px none #fff;
    border-radius: 5px;
    background-color: rgba(255, 92, 92, .8);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.home-link-2:hover {
    background-color: rgba(255, 255, 0, .75);
    color: #131321;
}

.welcome-message-container {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #131321;
    text-align: center;
}

.welcome-message-heading {
    display: block;
    width: 80%;
    height: 80%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    padding: 100px 175px 175px;
    font-family: 'Droid Serif', serif;
    color: #fff;
    font-size: 100px;
    line-height: 71px;
}

@media screen and (max-width: 991px),
screen and (min-height: 1024px) {
    .menu-links .closebtn {
        margin-top: 24px;
        margin-right: 4px;
    }
}

@media (max-width: 991px) {
    .top-nav {
        position: fixed;
        left: 0px;
        top: 0px;
        padding: 10px 0px 0px;
        border-bottom-color: #fff;
        background-color: transparent;
    }
    .home-section {
        position: static;
        background-image: -webkit-radial-gradient(circle closest-corner at 52% 58%, transparent, #0c0c24), url("../img/home/homepage1.jpg");
        background-image: radial-gradient(circle closest-corner at 52% 58%, transparent, #0c0c24), url("../img/home/homepage1.jpg");
        background-position: 0px 0px, 50% 50%;
        background-size: auto, cover;
        background-repeat: repeat, no-repeat;
    }
    .home-container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .home-wrapper-1 {
        position: static;
        height: 70%;
        padding-top: 20px;
        padding-right: 10px;
    }
    .home-wrapper-2 {
        top: 16px;
        height: 20%;
        margin-top: 24px;
        padding: 0px;
    }
    #typed {
        position: relative;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 154px;
        display: block;
        width: 75%;
        padding-top: 55px;
        padding-right: 0px;
        padding-left: 0px;
        font-size: 50px;
        line-height: 55px;
        text-align: center;
        margin-bottom: 50px;
    }
    .home-link-1 {
        margin-left: 0px;
    }
    .welcome-message-container {
        display: block;
    }
    .welcome-message-heading {
        padding-right: 0px;
        padding-bottom: 150px;
        padding-left: 0px;
    }
}

@media (max-width: 767px) {
    .top-nav {
        display: block;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
        -webkit-box-flex: 0;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }
    .nav-container {
        left: 0px;
        top: 0px;
        padding-top: 10px;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .nav-link {
        display: block;
        width: 540px;
        min-width: 0%;
        margin-top: 10px;
        font-size: 28px;
    }
    .home-container {
        padding-top: 65px;
    }
    .home-wrapper-1 {
        padding-top: 30px;
        padding-left: 0px;
        text-align: left;
    }
    .home-wrapper-2 {
        left: 0px;
        top: -1px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 20%;
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0px;
        padding-left: 0px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #typed {
        position: relative;
        left: 0px;
        top: 82px;
        width: 100%;
        margin-top: 0px;
        padding: 0px 10px;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 0px;
    }
    .home-link-1 {
        margin-left: 0px;
        font-size: 18px;
    }
    .home-link-2 {
        font-size: 18px;
    }
    .welcome-message-container {
        display: block;
    }
    .welcome-message-heading {
        padding-top: 120px;
        font-size: 80px;
        line-height: 56px;
    }
}

@media (max-width: 479px) {
    .main-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: visible;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .top-nav {
        padding-top: 0px;
        height: 60px;
    }
    .brand-logo {
        font-size: 18px;
        padding-top: 10px;
        padding-left: 15px;
    }
    .navbar {
        padding: 0px 15px;
        width: 120px;
    }
    .navburger {
        -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
    }
    .navburger p {
        font-size: 18px;
    }
    .hamburger {
        background-size: 24px;
        height: 24px;
    }
    .menu-links .closebtn {
        margin-top: 5px;
        margin-right: -20px;
    }
    .nav-link {
        display: block;
        width: 240px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 25px;
    }
    .home-section {
        background-image: -webkit-radial-gradient(circle closest-corner at 50% 37%, transparent 55%, #0c0c24 79%), url("../img/home/homepage1.jpg");
        background-image: radial-gradient(circle closest-corner at 50% 37%, transparent 55%, #0c0c24 79%), url("../img/home/homepage1.jpg");
        background-position: 0px 0px, 47% 50%;
        background-size: auto, cover;
        background-repeat: repeat, no-repeat;
    }
    .home-container {
        padding-top: 100px;
    }
    .home-wrapper-1 {
        height: 55%;
        padding-top: 126px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .home-wrapper-2 {
        position: static;
        height: 30%;
        margin-top: 80px;
        padding-right: 0px;
        padding-left: 0px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #typed {
        position: relative;
        left: 0px;
        top: 100px;
        display: block;
        margin: 0 auto;
        padding: 0px 20px;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        width: 300px;
    }
    .home-link-1 {
        display: block;
        width: 100%;
        padding: 20px;
        margin-right: auto;
        margin-bottom: 15px;
        margin-left: auto;
        border-radius: 0px;
        background-color: #fff;
        color: #ff5c5c;
        font-weight: 700;
    }
    .home-link-2 {
        display: block;
        width: 100%;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 0px;
        font-weight: 700;
    }
    .welcome-message-container {
        display: block;
        padding-top: 60px;
    }
    .welcome-message-heading {
        display: block;
        padding-top: 60px;
        font-size: 56px;
        line-height: 40px;
    }
}

@media (max-width: 360px) {
    .home-container {
        padding-top: 120px;
    }
    .home-wrapper-2 {
        margin-top: 60px;
    }
    #typed {
        font-size: 28px;
        line-height: 34px;
        height: 260px;
    }
    .home-link-1,
    .home-link-2 {
        font-size: 16px;
        padding: 15px;
    }
}

@media (max-width: 320px) {
    .welcome-message-container {
        padding-top: 0;
    }
    .home-container {
        padding-top: 80px;
    }
    #typed {
        font-size: 26px;
        line-height: 32px;
        height: 200px;
    }
    .home-wrapper-2 {
        margin-top: 90px;
    }
}

@media (max-width: 320px) and (max-height: 480px) {
    .home-container {
        padding-top: 10px;
    }
}