body {
    background-image: url(../News/img/CGroup.jpg);
    background-size: cover;
    background-position: 40%;
    background-repeat: no-repeat;
    text-align: center;
}

section {
    background-color: rgba(20,30,40,0.3);
    height: 104vh;
}

.bible-words {
    width: 65%;
    font-family: 'Merriweather', serif;
    margin: 22% auto 0;
}
.bible-words h3 {
    margin: 20px auto;
}
.scroll-down {
    font-family: 'Merriweather', serif;
    color: white;
    margin: 30px auto;
}

.group-container {
    margin-top: 150px;
}

.group-container >h1 {
    font-size: 60px;
    color: black;
}
.group-details {
    border-collapse: collapse;
    width: 80%;
    margin: 10px auto 100px;
    border-radius: 8px;
    overflow: hidden;
}

.group-details td, .group-details th {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

.group-details td.age-group {
    background-color: #23B5D3;
    color: white;
}

.group-details tr{background-color: #F6F7F8;}

.group-details tr:hover {background-color: #070600;
    color: white;
}

.group-details th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #EA526F;
    color: white;
}

.group-details tr th:nth-child(3) {
    width: 300px;
}

.section-title-group {
    margin-bottom: 62px;
}
.section-heading {
    margin-top: 0px;
    margin-bottom: 16px;
}

.section-heading.centered {
    margin-top: 20px;
    margin-bottom: 0;
    color: #313131;
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.section-subheading.center {
    font-family: 'Droid Sans', sans-serif;
    color: #0b0000;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
}

.section-title-group {
    margin-bottom: 40px;
}

.form-field {
    min-height: 45px;
    margin-right: 1px;
    margin-bottom: 17px;
    border: 0px solid #000;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    font-size: 20px;
}

.form-field:focus {
    -webkit-box-shadow: 0 0 0 1px #2e80b6;
            box-shadow: 0 0 0 1px #2e80b6;
}

.form-field.text-area {
    min-height: 110px;
}

.form-wrapper.squeezed {
    margin-bottom: 60px;
}

.w-form {
    margin: 0 0 15px
}

.w-form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd
}

.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede
}

.contact-us {
    padding-bottom: 50px;
}
.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.w-container:before,
.w-container:after {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px
}

.w-row:before,
.w-row:after {
    content: " ";
    display: table
}

.w-row:after {
    clear: both
}

.w-row .w-row {
    margin-left: 0;
    margin-right: 0
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px
}

.w-col .w-col {
    padding-left: 0;
    padding-right: 0
}

.w-col-5 {
    width: 41.66666667%
}

.w-col-6 {
    width: 50%
}

.w-col-7 {
    width: 58.33333333%
}
.w-input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc
}

.w-input:-moz-placeholder {
    color: #999
}

.w-input::-moz-placeholder {
    color: #999;
    opacity: 1
}

.w-input:-ms-input-placeholder {
    color: #999
}

.w-input::-webkit-input-placeholder {
    color: #999
}

.w-input:focus {
    border-color: #3898EC;
    outline: 0
}

input,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

textarea {
    overflow: auto
}

textarea.w-input {
    height: auto
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

input.w-button {
    -webkit-appearance: button
}
.button {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #cf404d;
    -webkit-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #000;
}

.button.full-width {
    display: block;
    width: 100%;
    background-color: #23B5D3;
    font-size: 20px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.button.full-width:hover {
    background-color: #EA526F;
}
.success-message {
    text-align: center;
}
.paragraph-form {
    margin-bottom: 0px;
}
.social-container {
    position: initial;
    background-color: #070600;
}