html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

input,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

textarea {
    overflow: auto
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 0.7rem;
    line-height: 1.45em;
    color: #333
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0
}

input.w-button {
    -webkit-appearance: button
}

h1 {
    font-weight: bold;
    margin-bottom: 10px
}

h1 {
    font-size: 1.9rem;
    line-height: 1.2em;
    margin-top: 20px
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

.w-form {
    margin: 0 0 15px
}

.w-form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd
}

.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede
}

.w-input {
    display: block;
    width: 100%;
    height: 2.25rem;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 0.7rem;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc
}

.w-input:-moz-placeholder {
    color: #999
}

.w-input::-moz-placeholder {
    color: #999;
    opacity: 1
}

.w-input:-ms-input-placeholder {
    color: #999
}

.w-input::-webkit-input-placeholder {
    color: #999
}

.w-input:focus {
    border-color: #23b5d3;
    outline: 0;
}

textarea.w-input {
    min-height: 200px;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.w-container:before,.w-container:after {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

@media screen and ( max-width: 1441px) {
    .w-container {
        max-width: 80%;
    }
}

/* ----------- S Tab 10.1 Potrait ----------- */

@media screen and ( max-width: 800px) {
    .w-container {
        max-width: 85%;
    }
}


/* ==========================================================================
   Start of custom CSS
   ========================================================================== */
.main-section {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100vh;
    background-image: url("../News/img/CGroup.jpg");
    background-position: 50% 50%;
    background-size: cover;
    font-family: Merriweather, serif;
    color: #fff;
    font-weight: 700;
}

.transparent-layer {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, .35);
}

.top-nav {
    position: absolute;
    left: 0px;
    top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 10%;
    padding: 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-block {
    display: inline-block;
    font-size: 1.25rem;
}

.link {
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
}

.group-container {
    margin-top: 150px;
    text-align: center;
    max-width: 1200px;
}

.group-container>h1 {
    font-size: 4rem;
    font-weight: 500;
    color: black;
    padding-bottom: 30px;
}

.group-details {
    border-collapse: collapse;
    margin: 10px auto 100px;
    border-radius: 8px;
    overflow: hidden;
}

.group-details td, .scroll-down {
    font-size: 1rem;
    line-height: 1.3em;
}

.share-pgraph {
    font-size: 1.3rem;
    line-height: 1.3em;
}

.group-details td,
.group-details th {
    border: 2px solid #ddd;
    padding: 10px 0.5em;
    text-align: left;
}

.group-details td.age-group {
    background-color: #23B5D3;
    color: white;
    font-size: 1rem;
    padding: 12px;
}

.group-details tr {
    background-color: #F6F7F8;
}

.group-details tr:hover {
    background-color: #070600;
    color: white;
}

.group-details th {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1em 12px;
    background-color: #EA526F;
    color: white;
}

.group-details tr th:nth-child(3) {
    width: 300px;
}
.verse-container {
    position: absolute;
    top: 10%;
    display: block;
    width: 100%;
    height: 90%;
    padding-top: 20%;
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
}

.verse-container:hover {
    border-radius: 4px;
}

.verse-pgraph {
    margin-bottom: 0px;
    padding-bottom: 15px;
    font-size: 1.5rem;
    line-height: 1.2em;
}

.bible-pgraph {
    font-size: 1.25rem;
    line-height: 1.2em;
}

.verse-pgraph, .bible-pgraph, .scroll-down {
    font-weight: 300;
}

.scroll-down {
    display: inline-block;
}

.share-info {
    padding: 30px 0;
    background-color: #000;
    color: #fff;
}

.share-container {
    text-align: center;
}

.share-button {
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    line-height: 1em;
    color: white;
    border-radius: 4px;
    background-color: #23B5D3;
    padding: 0.6em 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

.share-button:hover {
    background-color: #EA526F;
}

.web__share {
    display: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: -webkit-transform 0.35s ease;
    -o-transition: transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}

.share-icon {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00abe3;
}

.googleplus {
    background-color: #d3492c;
}

.whatsapp {
    background-color: #25D366;
}

.facebook,
.twitter,
.googleplus,
.whatsapp {
    color: #fff;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover,
.whatsapp:hover {
    color: #eee;
}

.body {
    font-family: Oswald, sans-serif;
}

.button {
    padding: 13px 15px 9px;
    border-radius: 4px;
    background-color: #23b5d3;
    font-size: 0.8rem;
}

.button:hover {
    background-color: #ea526f;
}

.share-pgraph {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.contact-section {
    height: 100vh;
    padding-top: 8%;
    text-align: center;
}

.contact-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-heading {
    font-size: 4rem;
    line-height: 1em;
    font-weight: 400;
}

.contact-heading2 {
    font-size: 1.75rem;
    line-height: 1em;
}

.text-field {
    width: 49.5%;
}

.text-field-2 {
    width: 49.5%;
}

.text-field, .text-field-2, .text-field-3, .textarea, .submit-button, .social-media-text {
    font-size: 0.9rem;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}

.submit-button {
    display: block;
    width: 100%;
    height: 2.25rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #23b5d3;
}

.submit-button:hover {
    background-color: #ea526f;
}

.footer {
    height: 10%;
    padding:20px 0;
    background-color: #000;
    color: #fff;
}

.footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-media-text {
    display: inline-block;
    padding-right: 10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.social-icons {
    display: inline-block;
    padding-left: 10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: left;
}

.social-icon-link {
    padding: 3px;
    padding-right: 5px;
    opacity: 0.66;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.social-icon-link:hover {
    opacity: 1;
}

.social-icon-link img {
    width: 1.5rem;
}

.scroll-container {
    position: relative;
    bottom: -30%;
}

/* ----------- Laptop with HiDPI ----------- */

@media screen and ( max-width: 1441px) and (orientation: landscape) {
    html{font-size: 24px;}
    .scroll-container {
        bottom: -35%;
    }
    .contact-section {
        padding-top: 13%;
    }
    .share-info {
        padding: 40px 0;
    }
    .w-input, .submit-button {
        height: 2.3rem;
    }
    textarea.w-input {
        min-height: 240px;
    }
}

/* ----------- iPad Pro Landscape ----------- */

@media screen and ( max-width: 1370px) and (orientation: landscape) {
    html {font-size: 25px;}
    .group-container {
        max-width: 86%;
    }
    .verse-container {
        padding-top: 25%;
    }
    .contact-section {
        padding-top: 18%;
    }
}

/* ----------- Aspire E1 Laptop Landscape ----------- */

@media screen and ( max-width: 1370px) and (max-height: 670px) {
    html {font-size: 20px;}
    .verse-container {
        padding-top: 15%;
    }
    textarea.w-input {
        min-height: 200px;
    }
    .contact-section {
        padding-top: 10%;
        padding-bottom: 30px;
        height: auto;
    }
    
}

/* ----------- Laptop with Touch ----------- */

@media screen and ( max-width: 1280px) {
    html {font-size: 22px;}
    .verse-container {
        padding-top: 30%;
    }
}


/* ----------- Laptop with MDPI screen----------- */

@media screen and ( max-width: 1280px) and (max-height: 800px) {
    html {font-size: 20px;}
    .verse-container {
        padding-top: 25%;
    }
    .contact-section {
        padding-top: 10%;
        padding-bottom: 10px;
    }
}

/* ----------- S Tab 10.1 Landscape ----------- */

@media screen and ( max-width: 1280px) and (max-height: 670px) {
    .contact-section {
        padding-top: 5%;
        padding-bottom: 30px;
    }
    .footer {
        padding: 15px 0;
    }
}

/* ----------- Aspire V3 Laptop Landscape ----------- */

@media screen and ( max-width: 1100px) {
    html {font-size: 15px;}
    .group-container {
/*        max-width: 900px;*/
    }
    .share-info {
        padding: 30px 0;
    }
    textarea.w-input {
        min-height: 140px;
    }
    .text-field, .text-field-2, .text-field-3, .textarea {
        margin-bottom: 7px;
    }
    .contact-section {
        padding-bottom: 20px;
    }
    .footer {
        padding: 15px 0;
    }
}

/* ----------- iPad Pro Potrait------------------*/

@media screen and ( max-width: 1024px) {
    html {font-size: 28px;}
    .top-nav {
        padding: 0 50px;
    }
    .top-nav .text-block, .top-nav a {
        font-size: 1.3rem;
    }
    .verse-container {
        padding-top: 40%;
    }
    .scroll-container {
        bottom: -35%;
    }
    .scroll-down {
        font-size: 1.2rem;
    }
    .group-container>h1, .contact-heading {
        font-size: 3.5rem;
    }
    .contact-heading2 {
        font-size: 1.5rem;
        padding: 10px 0;
    }
    .group-details th {
        padding-left: 15px;
    }
    .text-field, .text-field-2 {
        width: 100%;
    }
    .group-details td {
        font-size: 0.9rem;
    }
    .share-info {
        padding: 50px 0;
    }
    .share-pgraph {
        padding-bottom: 35px;
    }
    textarea.w-input {
        min-height: 200px;
    }
    .footer {
        padding: 20px 0;
    }
    .contact-section {
        height: 70vh;
        padding-top: 15%;
    }
}

/* ----------- iPad Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 770px) {
    html {font-size: 20px;}
    .verse-container {
        padding-top: 23%;
    }
    .share-info {
        padding: 40px 0;
    }
    .share-pgraph {
        padding-bottom: 25px;
    }
    .contact-section {
        height: auto;
        padding-top: 10%;
        padding-bottom: 40px;
    }
    .contact-container.w-container {
        max-width: 76%
    }
}

/* ----------- iPad Mini 4 Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 680px) {
    .verse-container {
        padding-top: 20%;
    }
    .scroll-container {
        bottom: -25%;
    }
    .contact-heading2 {
        padding: 0;
    }
    textarea.w-input {
        min-height: 160px;
    }
    .footer {
        padding: 15px 0;
    }
}

/* ----------- Lenova IdeaPad Laptop Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 510px) {
    html {font-size: 16px;}
    .top-nav {
        padding: 0 30px;
    }
    .verse-container {
        padding-top: 18%;
    }
    .group-container {
        margin-top: 80px;
    }
    .group-container>h1 {
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    .group-details td {
        font-size: 1rem;
    }
    .share-info {
        padding: 30px 0;
    }
    .share-pgraph {
        padding-bottom: 20px;
    }
    .contact-section {
        padding-top: 8%;
        padding-bottom: 20px;
    }
    .textarea.w-input {
        min-height: 140px;
    }
}


/* ----------- S Note 8.0 Landscape ----------- */

@media screen and ( max-width: 970px) and (max-height: 490px) {
    .verse-container {
        padding-top: 14%;
    }
    .scroll-container {
        bottom: -23%;
    }
    .group-container {
/*        max-width: 850px;*/
    }
    .contact-container.w-container {
/*        max-width: 700px;*/
    }
}


/* ----------- S Tab 10.1 Potrait ----------- */

@media screen and ( max-width: 800px) and (max-height: 1140px) {
    .top-nav {
        padding: 0 40px;
    }
    .verse-container {
        padding-top: 45%;
    }
    .verse-pgraph {
        font-size: 1.3rem;
        line-height: 1.25em;
        padding-bottom: 25px;
    }
    .scroll-container {
        bottom: -20%;
    }
    .scroll-down {
        font-size: 1.1rem;
    }
    .group-container>h1, .contact-heading {
        font-size: 2.5rem;
    }
    .group-container {
        max-width: 86%;
    }
    .group-details th {
        padding: 1em 0;
        text-align: center;
    }
    .group-details td.age-group {
        font-size: 0.9rem;
        padding: 12px 20px;
    }
    .group-details td {
        font-size: 0.7rem;
        padding-left: 20px;
    }
    .share-pgraph {
        font-size: 1rem;
    }
    .share-button {
        font-size: 0.8rem;
    }
    .share-icon {
        font-size: 0.8rem;
    }
    .contact-section {
        height: auto;
        padding-bottom: 50px;
    }
    .contact-container.w-container {
        max-width: 80%;
    }
    .footer {
        padding: 25px 0;
    }
}

/* ----------- iPad Potrait----------- */

@media screen and ( max-width: 768px) {
    .verse-container {
        padding-top: 40%;
    }
}

/* ----------- iPad Mini4 Potrait----------- */

@media screen and ( max-width: 768px) and (max-height: 930px) {
    .verse-container {
        padding-top: 30%;
    } 
    .verse-pgraph, .bible-pgraph {
        font-size: 1.2rem;
    }
}

/* ----------- iPone 6 Plus Landscape ----------- */

@media screen and ( max-width: 740px) and (max-height: 420px) {
    .top-nav {
        padding: 30px 20px;
    }
    .verse-container {
        padding-top: 17%;
    }
    .verse-pgraph {
        padding-bottom: 5px;
    }
    .scroll-down {
        font-size: 1rem;
    }
    .group-details td {
        font-size: 1rem;
    }
    .share-pgraph {
        font-size: 1.2rem;
    }
    .share-button, .share-icon {
        font-size: 1rem;
    }
    .contact-section {
        padding-bottom: 15px;
    }
    .footer {
        padding: 15px 0;
    }
}

/* ----------- S Galaxy S5 ----------- */

@media screen and ( max-width: 640px) and (max-height: 360px) {
    .verse-container {
        padding-top: 15%;
    }
}

/* ----------- iPhone 7 Landscape ----------- */

@media screen and ( max-width: 635px) and (max-height: 420px) {
    .verse-container {
        padding-top: 22%;
    }
}


/* ----------- S Note 8.0 Potrait ----------- */

@media screen and ( max-width: 610px) and (max-height: 850px) {
    .top-nav .text-block, .top-nav a {
        font-size: 1rem;
    }
    .verse-pgraph, .bible-pgraph, .scroll-down {
        font-size: 0.9rem;
    }
    .verse-container {
        padding: 50% 10% 0 10%;
    }
    .scroll-container {
        bottom: -30%;
    }
    .group-container>h1 {
        padding-bottom: 15px;
        margin-bottom: 0;
    }
    .group-container>h1, .contact-heading {
        font-size: 2rem;
    }
    .group-details th {
        font-size: 1rem;
    }
    .group-details td.age-group {
        font-size: 0.8rem;
    }
    .contact-container.w-container {
        max-width: 78%;
    }
    .contact-heading {
        margin: 0 auto;
    }
    .text-field, .text-field-2, .text-field-3, .textarea {
        margin-bottom: 10px;
    }
    .social-icon-link img {
        width: 1.2rem;
    }
    .text-field, .text-field-2, .text-field-3, .textarea, .submit-button, .social-media-text {
        font-size: 0.8rem;
    }
    .contact-heading2 {
        font-size: 1.4rem;
    }
}

/* ----------- iPhone 5 5s Landscape ----------- */

@media screen and ( max-width: 568px) {
    .verse-container {
        padding-top: 18%;
    }
}

/* ----------- VIVO 5 Samsung J Landscape ----------- */

@media screen and ( max-width: 560px) and (max-height: 360px) {
    .verse-container {
        padding-top: 22%;
    }
}

/* ----------- iPhone 6S Landscape ----------- */

@media screen and ( max-width: 540px) {
    .verse-container {
        padding-top: 28%;
    }
}

/* ----------- HuaWei Mate 9 Landscape ----------- */

@media screen and ( max-width: 530px) {
    .verse-container {
        padding-top: 26%;
    }
}

/* ----------- iPhone 4 Landscape ----------- */

@media screen and ( max-width: 480px) and (max-height: 215px) {
    .verse-container {
        padding-top: 14%;
    }
}

/* ----------- iPhone 6 PLUS Potrait----------- */

@media screen and ( max-width: 420px) and (max-height: 740px) {
    
}